# ================= ROS2 =================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
build/
install/
log/

# ================= ROS Bags =================
*.db3

# ================= Python =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/

# ================= Python Env =================
.venv/
env/

# ================= Recordings =================
*.npz
recordings/

# ================= Graphviz =================
*.gv
*.pdf

# ================= VSCode =================
.vscode/
*.swp

# ================= Linux =================
*.swp
.DS_Store

# ================= Results =================
MTP2_Minor_Results/
*.png
*.webm
*.npy
*.csv

# ================= Temporary / backups =================
*~
*.bak
